<script type="module" src="@components/pages/index/index.js"></script>
<link rel="stylesheet" href="@components/pages/index/index.scss">

<main class="page page--index">
	<section class="not-last:mb-8">
		<div
			class="before:top-0 before:left-0 before:z-[1] before:absolute relative before:bg-[#081629]/40 py-15 max-laptop:py-10 pc:rounded-[20px] before:w-full before:h-full pc:overflow-hidden before:content-[''] container">
			<div class="z-[2] relative text-center">
				<h1
					class="mb-7 font-bold text-white max-laptop:text-[24px] max-mobile:text-[22px] text-3xl uppercase leading-[1.3]">
					The Most Important Baseball game in 2025
				</h1>
				<div
					class="gap-y-6 bg-[#08162980]/70 mx-auto p-[36px] max-laptop:px-5 max-laptop:py-8 max-tablet:py-7 border-[#ffffff80] border-[5px] rounded-[32px] max-w-[864px]">
					<div class="flex flex-col justify-center items-center gap-y-3 mb-[24px] max-tablet:mb-[18px]">
						<span class="font-bold text-white uppercase">August 2025</span>
						<div
							class="bg-white mb-0 px-6 max-laptop:px-5 py-1.5 max-laptop:py-1.5 border-[#0816291a] border-[3px] border-dark-blue/10 max-laptop:border-3 rounded-lg font-bold text-[18px] text-red-600 text-xl text-center uppercase">
							final
						</div>
					</div>
					<div
						class="max-tablet:flex max-tablet:flex-col items-center gap-x-9 max-laptop:gap-5 max-tablet:gap-3 grid tablet:grid-cols-[1fr_auto_1fr] mb-[24px] max-tablet:mb-[18px] p-3 border-[#08162949] border-[5px] rounded-2xl">
						<div class="flex w-full min-w-0">
							<a
								class="flex flex-row-reverse max-tablet:justify-center items-center gap-x-5 px-6 max-laptop:px-3 py-3 border-2 hover:border-accent border-transparent rounded-2xl w-full min-w-0 font-bold text-white hover:text-accent text-xl uppercase transition-all duration-300"
								href="#">
								<img src="@img/5a137c3b58d25de0c2000c6425a4916a.png"
									class="w-20 max-laptop:w-17 max-tablet:w-14 object-contain aspect-[1]">
								<span class="truncate">sultanes</span>
							</a>
						</div>
						<span
							class="py-1 border-accent border-y-2 font-bold text-accent max-laptop:text-[30px] text-4xl uppercase">vs</span>
						<div class="flex w-full min-w-0">
							<a
								class="flex max-tablet:justify-center items-center gap-x-5 px-6 max-laptop:px-3 py-3 border-2 hover:border-accent border-transparent rounded-2xl w-full min-w-0 font-bold text-white hover:text-accent text-xl uppercase transition-all duration-300"
								href="#">
								<img src="@img/92736c371ed494682f5cc5533b65bbaf.webp"
									class="w-20 max-laptop:w-17 max-tablet:w-14 object-contain aspect-[1]">
								<span class="truncate">pericos</span>
							</a>
						</div>
					</div>
					<div class="mb-3 font-bold text-white text-xl text-center">17:00</div>

					<div class="flex justify-center">
						<a
							class="bg-white px-6 py-1.5 border-[#0816291a] border-[5px] hover:border-accent rounded-xl max-mobile:w-full font-bold text-dark-blue-secondary text-lg no-underline uppercase transition-colors duration-300"
							href="#">
							match center
						</a>
					</div>
				</div>
			</div>
			<img class="top-0 left-0 absolute w-full h-full object-cover object-top"
				src="@img/fc1ab7cefb96fae3bf5cd7f1a7f2df4b.jpeg"
				alt="Image">
		</div>
	</section>
	<section class="not-last:mb-8">
		<div class="container bg-white px-6 py-9 pc:rounded-[20px]">
			<div class="pc:px-4">
				<h2
					class="mb-7 font-bold text-3xl max-tablet:text-[26px] text-center uppercase text-[#0A2240] max-tablet:mb-6">upcoming
					matches</h2>
				<div class="gap-x-6 flex overflow-x-auto not-last:mb-6 scrollbar-thin">
					<article
						class="flex basis-[334px] max-tablet:gap-y-6 max-mobile:basis-[290px] shrink-0 flex-col gap-y-9 bg-[#081629] px-1.5 py-6 border-[5px] border-[#ffffff80] rounded-2xl text-white">
						<div class="flex flex-col gap-y-1.5 text-center uppercase">
							<h3 class="font-bold">domingo 27</h3>
							<span>August 2025</span>
						</div>
						<div class="flex flex-col">
							<div class="items-center gap-x-5 grid grid-cols-[1fr_auto_1fr]">
								<a
									class="flex justify-center items-center px-3 py-2.5 border-2 border-transparent hover:border-accent rounded-2xl font-bold text-xl no-underline uppercase transition-all duration-300 text-white hover:text-accent"
									href="#">
									<img src="@img/5a137c3b58d25de0c2000c6425a4916a.png" class="w-16 aspect-[1] object-contain">
								</a>
								<span class="border-y-2 border-accent font-black text-2xl uppercase text-accent">vs</span>
								<a
									class="flex justify-center items-center px-3 py-2.5 border-2 border-transparent hover:border-accent rounded-2xl font-bold text-xl no-underline uppercase transition-all duration-300 text-white hover:text-accent"
									href="#">
									<img src="@img/3218c320f39786c4fcf276f46ce7d346.png" class="w-16 aspect-[1] object-contain">
								</a>
							</div>
							<span class="font-bold text-xl text-center">17:00</span>
						</div>
						<div class="flex justify-center">
							<a
								class="bg-white px-6 py-1.5 border-[5px] border-[#081629]/10 rounded-lg font-bold no-underline uppercase transition-all duration-300 text-[#0A2240] hover:border-accent"
								href="#">
								match center
							</a>
						</div>
					</article>
					<article
						class="flex basis-[334px] max-tablet:gap-y-6 max-mobile:basis-[290px] shrink-0 flex-col gap-y-9 bg-[#081629] px-1.5 py-6 border-[5px] border-[#ffffff80] rounded-2xl text-white">
						<div class="flex flex-col gap-y-1.5 text-center uppercase">
							<h3 class="font-bold">viernes 1</h3>
							<span>August 2025</span>
						</div>
						<div class="flex flex-col">
							<div class="items-center gap-x-1.5 grid grid-cols-[1fr_auto_1fr]">
								<a
									class="flex justify-center items-center px-3 py-2.5 border-2 border-transparent hover:border-accent rounded-2xl font-bold text-xl no-underline uppercase transition-all duration-300 text-white hover:text-accent"
									href="#">
									<img src="@img/4eb8b3955c336e885305edebdaab70cc.png" class="w-16 aspect-[1] object-contain">
								</a>
								<span class="border-y-2 border-accent font-black text-2xl uppercase text-accent">vs</span>
								<a
									class="flex justify-center items-center px-3 py-2.5 border-2 border-transparent hover:border-accent rounded-2xl font-bold text-xl no-underline uppercase transition-all duration-300 text-white hover:text-accent"
									href="#">
									<img src="@img/5a137c3b58d25de0c2000c6425a4916a.png" class="w-16 aspect-[1] object-contain">
								</a>
							</div>
							<span class="font-bold text-xl text-center">19:30</span>
						</div>
						<div class="flex justify-center">
							<a
								class="bg-white hover:border-accent px-6 py-1.5 border-[5px] border-[#081629]/10 rounded-lg font-bold no-underline uppercase transition-all duration-300 text-[#0A2240]"
								href="#">
								match center
							</a>
						</div>
					</article>
					<article
						class="flex basis-[334px] max-tablet:gap-y-6 max-mobile:basis-[290px] shrink-0 flex-col gap-y-9 bg-[#081629] px-1.5 py-6 border-[5px] border-[#ffffff80] rounded-2xl text-white">
						<div class="flex flex-col gap-y-1.5 text-center uppercase">
							<h3 class="font-bold">domingo 27</h3>
							<span>August 2025</span>
						</div>
						<div class="flex flex-col">
							<div class="items-center gap-x-1.5 grid grid-cols-[1fr_auto_1fr]">
								<a
									class="flex justify-center items-center px-3 py-2.5 border-2 border-transparent hover:border-accent rounded-2xl font-bold text-xl no-underline uppercase transition-all duration-300 text-white hover:text-accent"
									href="#">
									<img src="@img/fb77b97b09b94776b4ea76eea1a437c9.png" class="w-16 aspect-[1] object-contain">
								</a>
								<span class="border-y-2 border-accent font-black text-2xl uppercase text-accent">vs</span>
								<a
									class="flex justify-center items-center px-3 py-2.5 border-2 border-transparent hover:border-accent rounded-2xl font-bold text-xl no-underline uppercase transition-all duration-300 text-white hover:text-accent"
									href="#">
									<img src="@img/5a137c3b58d25de0c2000c6425a4916a.png" class="w-16 aspect-[1] object-contain">
								</a>
							</div>
							<span class="font-bold text-xl text-center">15:00</span>
						</div>
						<div class="flex justify-center">
							<a
								class="bg-white hover:border-accent px-6 py-1.5 border-[5px] border-[#081629]/10 rounded-lg font-bold no-underline uppercase transition-all duration-300 text-[#0A2240]"
								href="#">
								match center
							</a>
						</div>
					</article>
					<article
						class="flex basis-[334px] max-tablet:gap-y-6 max-mobile:basis-[290px] shrink-0 flex-col gap-y-9 bg-[#081629] px-1.5 py-6 border-[5px] border-[#ffffff80] rounded-2xl text-white">
						<div class="flex flex-col gap-y-1.5 text-center uppercase">
							<h3 class="font-bold">viernes 1</h3>
							<span>August 2025</span>
						</div>
						<div class="flex flex-col">
							<div class="items-center gap-x-1.5 grid grid-cols-[1fr_auto_1fr]">
								<a
									class="flex justify-center items-center px-3 py-2.5 border-2 border-transparent hover:border-accent rounded-2xl font-bold text-xl no-underline uppercase transition-all duration-300 text-white hover:text-accent"
									href="#">
									<img src="@img/5a137c3b58d25de0c2000c6425a4916a.png" class="w-16 aspect-[1] object-contain">
								</a>
								<span class="border-y-2 border-accent font-black text-2xl uppercase text-accent">vs</span>
								<a
									class="flex justify-center items-center px-3 py-2.5 border-2 border-transparent hover:border-accent rounded-2xl font-bold text-xl no-underline uppercase transition-all duration-300 text-white hover:text-accent"
									href="#">
									<img src="@img/870553bf9b0a741e95e579fe73358251.png" class="w-16 aspect-[1] object-contain">
								</a>
							</div>
							<span class="font-bold text-xl text-center">21:00</span>
						</div>
						<div class="flex justify-center">
							<a
								class="bg-white hover:border-accent px-6 py-1.5 border-[5px] border-[#081629]/10 rounded-lg font-bold no-underline uppercase transition-all duration-300 text-[#0A2240]"
								href="#">
								match center
							</a>
						</div>
					</article>
				</div>
				<div class="flex justify-center">
					<a
						class="bg-[#081629] text-center max-mobile:w-full px-6 py-1.5 border-[5px] border-white/20 rounded-xl font-bold text-lg no-underline uppercase transition-all duration-300 text-white hover:border-accent"
						href="#">
						view more
					</a>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container py-8 text-white relative pc:rounded-[20px] pc:overflow-hidden bg-[#011f47]">
			<div class="relative z-[1] gap-y-9 w-full xl:w-auto">
				<div class="lg:ml-[auto] lg:max-w-[640px] lg:pr-7">
					<h2
						class="mb-3 font-bold text-3xl max-tablet:text-[26px] uppercase max-tablet:mb-6">standings</h2>
					<table class="block not-last:mb-6 overflow-x-auto">
						<thead class="block max-lg:min-w-[490px]">
							<tr
								class="border-b-2 border-white uppercase items-center font-bold text-[18px] gap-x-3.5 text-center py-2 grid grid-cols-[50px_40px_minmax(120px,1.5fr)_repeat(4,minmax(50px,0.5fr))]">
								<th
									class="self-stretch flex justify-center items-center sticky left-0 max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-0 max-lg:after:w-full max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">#</th>
								<th
									class="text-left sticky left-[64px] col-span-2 max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-[-14px] max-lg:after:w-[77px] max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">club</th>
								<th>jg</th>
								<th>jp</th>
								<th>pct</th>
								<th>jv</th>
							</tr>
						</thead>
						<tbody class="block max-lg:min-w-[490px]">
							<tr
								class="border-b-2 border-white items-center font-bold text-[18px] gap-x-3.5 text-center py-2 grid grid-cols-[50px_40px_minmax(120px,1.5fr)_repeat(4,minmax(50px,0.5fr))]">
								<td
									class="self-stretch flex justify-center left-0 items-center sticky max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-0 max-lg:after:w-full max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">1</td>
								<td
									class="min-w-0 sticky left-[64px] max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-[-14px] max-lg:after:w-[calc(100%+14px)] max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">
									<a href="#"
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all duration-300 text-white hover:text-accent">
										<img src="@img/5a137c3b58d25de0c2000c6425a4916a.png" class="w-10 max-sm:w-8 aspect-[1] object-contain">
									</a>
								</td>
								<td class="min-w-0 self-stretch flex">
									<a
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all ml-[-54px] pl-[49px] h-full duration-300 text-white hover:text-accent max-sm:pl-[41px] min-w-0"
										href="#">
										<h3 class="truncate">sultanes</h3>
									</a>
								</td>
								<td>50</td>
								<td>32</td>
								<td>.600</td>
								<td>-</td>
							</tr>
							<tr
								class="border-b-2 border-white uppercase items-center font-bold text-[18px] gap-x-3.5 text-center py-2 grid grid-cols-[50px_40px_minmax(120px,1.5fr)_repeat(4,minmax(50px,0.5fr))]">
								<td
									class="self-stretch flex justify-center items-center sticky left-0 max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-0 max-lg:after:w-full max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">2</td>
								<td
									class="min-w-0 sticky left-[64px] max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-[-14px] max-lg:after:w-[calc(100%+14px)] max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">
									<a href="#"
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all duration-300 text-white hover:text-accent">
										<img src="@img/3218c320f39786c4fcf276f46ce7d346.png" class="w-10 max-sm:w-8 aspect-[1] object-contain">
									</a>
								</td>
								<td class="min-w-0 self-stretch flex">
									<a
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all ml-[-54px] pl-[49px] h-full duration-300 text-white hover:text-accent max-sm:pl-[41px] min-w-0"
										href="#">
										<h3 class="truncate">toros</h3>
									</a>
								</td>
								<td>48</td>
								<td>35</td>
								<td>.585</td>
								<td>2.0</td>
							</tr>
							<tr
								class="border-b-2 border-white uppercase items-center font-bold text-[18px] gap-x-3.5 text-center py-2 grid grid-cols-[50px_40px_minmax(120px,1.5fr)_repeat(4,minmax(50px,0.5fr))]">
								<td
									class="self-stretch flex justify-center items-center sticky left-0 max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-0 max-lg:after:w-full max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">3</td>
								<td
									class="min-w-0 sticky left-[64px] max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-[-14px] max-lg:after:w-[calc(100%+14px)] max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">
									<a href="#"
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all duration-300 text-white hover:text-accent">
										<img src="@img/ea6c6c0f7f80378060d31415bf573d94.png" class="w-10 max-sm:w-8 aspect-[1] object-contain">
									</a>
								</td>
								<td class="min-w-0 self-stretch flex">
									<a
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all ml-[-54px] pl-[49px] h-full duration-300 text-white hover:text-accent max-sm:pl-[41px] min-w-0"
										href="#">
										<h3 class="truncate">acereros</h3>
									</a>
								</td>
								<td>44</td>
								<td>36</td>
								<td>.555</td>
								<td>5.0</td>
							</tr>
							<tr
								class="border-b-2 border-white uppercase items-center font-bold text-[18px] gap-x-3.5 text-center py-2 grid grid-cols-[50px_40px_minmax(120px,1.5fr)_repeat(4,minmax(50px,0.5fr))]">
								<td
									class="self-stretch flex justify-center items-center sticky left-0 max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-0 max-lg:after:w-full max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">4</td>
								<td
									class="min-w-0 sticky left-[64px] max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-[-14px] max-lg:after:w-[calc(100%+14px)] max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">
									<a href="#"
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all duration-300 text-white hover:text-accent">
										<img src="@img/4eb8b3955c336e885305edebdaab70cc.png" class="w-10 max-sm:w-8 aspect-[1] object-contain">
									</a>
								</td>
								<td class="min-w-0 self-stretch flex">
									<a
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all ml-[-54px] pl-[49px] h-full duration-300 text-white hover:text-accent max-sm:pl-[41px] min-w-0"
										href="#">
										<h3 class="truncate">sultanes</h3>
									</a>
								</td>
								<td>45</td>
								<td>37</td>
								<td>.549</td>
								<td>5.0</td>
							</tr>
							<tr
								class="border-b-2 border-white uppercase items-center font-bold text-[18px] gap-x-3.5 text-center py-2 grid grid-cols-[50px_40px_minmax(120px,1.5fr)_repeat(4,minmax(50px,0.5fr))]">
								<td
									class="self-stretch flex justify-center items-center sticky left-0 max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-0 max-lg:after:w-full max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">5</td>
								<td
									class="min-w-0 sticky left-[64px] max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-[-14px] max-lg:after:w-[calc(100%+14px)] max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">
									<a href="#"
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all duration-300 text-white hover:text-accent">
										<img src="@img/92736c371ed494682f5cc5533b65bbaf.webp" class="w-10 max-sm:w-8 aspect-[1] object-contain">
									</a>
								</td>
								<td class="min-w-0 self-stretch flex">
									<a
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all ml-[-54px] pl-[49px] h-full duration-300 text-white hover:text-accent max-sm:pl-[41px] min-w-0"
										href="#">
										<h3 class="truncate">tecolotes</h3>
									</a>
								</td>
								<td>45</td>
								<td>37</td>
								<td>.549</td>
								<td>5.0</td>
							</tr>
							<tr
								class="border-b-2 border-white uppercase items-center font-bold text-[18px] gap-x-3.5 text-center py-2 grid grid-cols-[50px_40px_minmax(120px,1.5fr)_repeat(4,minmax(50px,0.5fr))]">
								<td
									class="self-stretch flex justify-center items-center sticky left-0 max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-0 max-lg:after:w-full max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">6</td>
								<td
									class="min-w-0 sticky left-[64px] max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-[-14px] max-lg:after:w-[calc(100%+14px)] max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">
									<a href="#"
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all duration-300 text-white hover:text-accent">
										<img src="@img/fb77b97b09b94776b4ea76eea1a437c9.png" class="w-10 max-sm:w-8 aspect-[1] object-contain">
									</a>
								</td>
								<td class="min-w-0 self-stretch flex">
									<a
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all ml-[-54px] pl-[49px] h-full duration-300 text-white hover:text-accent max-sm:pl-[41px] min-w-0"
										href="#">
										<h3 class="truncate">charros</h3>
									</a>
								</td>
								<td>41</td>
								<td>41</td>
								<td>.500</td>
								<td>9.</td>
							</tr>
							<tr
								class="border-b-2 border-white uppercase items-center font-bold text-[18px] gap-x-3.5 text-center py-2 grid grid-cols-[50px_40px_minmax(120px,1.5fr)_repeat(4,minmax(50px,0.5fr))]">
								<td
									class="self-stretch flex justify-center items-center sticky left-0 max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-0 max-lg:after:w-full max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">7</td>
								<td
									class="min-w-0 sticky left-[64px] max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-[-14px] max-lg:after:w-[calc(100%+14px)] max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">
									<a href="#"
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all duration-300 text-white hover:text-accent">
										<img src="@img/67010760940851c6736aa1facda73c34.png" class="w-10 max-sm:w-8 aspect-[1] object-contain">
									</a>
								</td>
								<td class="min-w-0 self-stretch flex">
									<a
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all ml-[-54px] pl-[49px] h-full duration-300 text-white hover:text-accent max-sm:pl-[41px] min-w-0"
										href="#">
										<h3 class="truncate">saraperos</h3>
									</a>
								</td>
								<td>41</td>
								<td>41</td>
								<td>.500</td>
								<td>9.0</td>
							</tr>
							<tr
								class="border-b-2 border-white uppercase items-center font-bold text-[18px] gap-x-3.5 text-center py-2 grid grid-cols-[50px_40px_minmax(120px,1.5fr)_repeat(4,minmax(50px,0.5fr))]">
								<td
									class="self-stretch flex justify-center items-center sticky left-0 max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-0 max-lg:after:w-full max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">8</td>
								<td
									class="min-w-0 sticky left-[64px] max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-[-14px] max-lg:after:w-[calc(100%+14px)] max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">
									<a href="#"
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all duration-300 text-white hover:text-accent">
										<img src="@img/3218c320f39786c4fcf276f46ce7d346.png" class="w-10 max-sm:w-8 aspect-[1] object-contain">
									</a>
								</td>
								<td class="min-w-0 self-stretch flex">
									<a
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all ml-[-54px] pl-[49px] h-full duration-300 text-white hover:text-accent max-sm:pl-[41px] min-w-0"
										href="#">
										<h3 class="truncate">dorados</h3>
									</a>
								</td>
								<td>37</td>
								<td>44</td>
								<td>.457</td>
								<td>12.5</td>
							</tr>
							<tr
								class="border-b-2 border-white uppercase items-center font-bold text-[18px] gap-x-3.5 text-center py-2 grid grid-cols-[50px_40px_minmax(120px,1.5fr)_repeat(4,minmax(50px,0.5fr))]">
								<td
									class="self-stretch flex justify-center items-center sticky left-0 max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-0 max-lg:after:w-full max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">9</td>
								<td
									class="min-w-0 sticky left-[64px] max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-[-14px] max-lg:after:w-[calc(100%+14px)] max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">
									<a href="#"
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all duration-300 text-white hover:text-accent">
										<img src="@img/ea6c6c0f7f80378060d31415bf573d94.png" class="w-10 max-sm:w-8 aspect-[1] object-contain">
									</a>
								</td>
								<td class="min-w-0 self-stretch flex">
									<a
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all ml-[-54px] pl-[49px] h-full duration-300 text-white hover:text-accent max-sm:pl-[41px] min-w-0"
										href="#">
										<h3 class="truncate">caliente</h3>
									</a>
								</td>
								<td>35</td>
								<td>48</td>
								<td>.422</td>
								<td>12.5</td>
							</tr>
							<tr
								class="border-b-2 border-white uppercase items-center font-bold text-[18px] gap-x-3.5 text-center py-2 grid grid-cols-[50px_40px_minmax(120px,1.5fr)_repeat(4,minmax(50px,0.5fr))]">
								<td
									class="self-stretch flex justify-center items-center sticky left-0 max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-0 max-lg:after:w-full max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">10</td>
								<td
									class="min-w-0 sticky left-[64px] max-lg:after:content-[''] max-lg:after:absolute max-lg:after:top-0 max-lg:after:left-[-14px] max-lg:after:w-[calc(100%+14px)] max-lg:after:h-full max-lg:after:bg-[#011f47] max-lg:after:z-[-1]">
									<a href="#"
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all duration-300 text-white hover:text-accent">
										<img src="@img/92736c371ed494682f5cc5533b65bbaf.webp" class="w-10 max-sm:w-8 aspect-[1] object-contain">
									</a>
								</td>
								<td class="min-w-0 self-stretch flex">
									<a
										class="flex items-center gap-x-2 lg:gap-x-3 no-underline capitalize transition-all ml-[-54px] pl-[49px] h-full duration-300 text-white hover:text-accent max-sm:pl-[41px] min-w-0"
										href="#">
										<h3 class="truncate">rieleros</h3>
									</a>
								</td>
								<td>32</td>
								<td>48</td>
								<td>.400</td>
								<td>17.0</td>
							</tr>
						</tbody>
					</table>
					<div class="flex justify-center">
						<a
							class="bg-white px-6 py-1.5 border-[#0816291a] border-[5px] hover:border-accent rounded-xl max-mobile:w-full font-bold text-[#0A2240] text-lg no-underline uppercase transition-colors duration-300"
							href="#">
							view more
						</a>
					</div>
				</div>
			</div>
			<img src="@img/e65e1924b60b4a875dd599a5baa4e8d6.webp"
				class="lg:block hidden absolute top-0 left-0 w-full h-full object-cover"
				alt="Image">
		</div>
	</section>
</main>
