<script type="module" src="@components/pages/contacts/contacts.js"></script>
<link rel="stylesheet" href="@components/pages/contacts/contacts.scss">

<main class="page page--contacts">
	<section class="pc:mb-8">
		<div
			class="container text-white bg-gradient-to-r bg-[linear-gradient(0deg,rgba(28,90,173,0.85)_0%,_rgba(28,90,173,0.55)_100%)] py-8 max-sm:py-6 pc:rounded-[20px]">
			<h1
				class="mb-2 font-bold text-[33px] max-tablet:text-[26px] max-sm:text-[24px] text-center uppercase leading-[1.3]">
				contact us
			</h1>
			<div class="overflow-x-auto scrollbar-thin text-center">
				<ul class="inline-flex gap-x-2.5 text-[18px] font-medium capitalize">
					<li class="flex gap-x-2.5 items-center after:w-2.5 after:h-[2px] after:bg-white after:content-[''] text-nowrap">
						<a class="transition-colors hover:text-accent duration-300" href="index.html">Home</a>
					</li>
					<li class="text-nowrap">
						<div>contact us</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="pc:mb-8">
		<div class="container bg-[#fff] pc:rounded-[20px] py-7.5 tablet:py-9">
			<div class="grid lg:grid-cols-[minmax(300px,1fr)_2fr] items-start gap-6 pc:px-6">
				<div class="text-[#0A2240] flex flex-col gap-y-5">
					<div class="flex flex-col gap-y-3 text-center lg:text-left">
						<h2 class="font-bold text-xl uppercase mb-0">Get in touch with us</h2>
						<p class="mb-0">
							Aliquam lorem ante, dapibus in, viverra quis, feugiat. Phasellus
							viverra nulla ut metus varius laoreet. Aenean imperdiet. Etiam
							ultricies nisi vel augue. Aliquam lorem ante, dapibus in, viverra quis,
							feugiat. Phasellus viverra nulla ut metus varius laoreet. Aenean
							imperdiet. Facilisis at vero eros et accumsan et iusto odio.
						</p>
					</div>
					<div class="flex flex-col gap-y-3">
						<h4 class="text-center lg:text-left uppercase text-lg font-bold mb-0">
							Office in New York
						</h4>
						<ul class="flex flex-col list-none gap-y-4">
							<li class="flex gap-x-3 items-center">
								<img
									src="@img/7f42278a7d97dba7af3782302b6833cf.png"
									alt="Location icon"
									class="object-contain w-8 h-8">
								<div class="flex flex-col gap-y-1">
									<a
										href="#"
										class="text-[#0A2240] no-underline transition-colors hover:text-[#F3C148]">
										7300-7398 Colonial Rd, Brooklyn, NY 11209, USA
									</a>
								</div>
							</li>
							<li class="flex gap-x-3 items-center">
								<img
									src="@img/11efaaa764a47e220b6e51d965339654.png"
									alt="Phone icon"
									class="object-contain w-8 h-8">
								<div class="flex flex-col gap-y-1">
									<a
										href="#"
										class="text-[#0A2240] no-underline transition-colors hover:text-[#F3C148]">+ (123) 124-567-8901</a>
									<a
										href="#"
										class="text-[#0A2240] no-underline transition-colors hover:text-[#F3C148]">+88 (0) 101 0000 000</a>
								</div>
							</li>
							<li class="flex gap-x-3 items-center">
								<img
									src="@img/b6bf6c6e2f3752e872d8c4e63f325054.png"
									alt="Mail icon"
									class="object-contain w-8 h-8">
								<div class="flex flex-col gap-y-1">
									<a
										href="mailto:topbaseball@gamil.com"
										class="text-[#0A2240] no-underline transition-colors hover:text-[#F3C148]">topbaseball@gamil.com</a>
									<a
										href="mailto:topbaseball@gamil.com"
										class="text-[#0A2240] no-underline transition-colors hover:text-[#F3C148]">topbaseball@gamil.com</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<form data-fls-form="dev" data-fls-input class="form" method="POST" action="#">
					<div class="form__line">
						<input required type="text" name="form[text]" data-fls-form-errtext="Required field!" placeholder="Your name"
							class="form__input input">
					</div>
					<div class="form__line">
						<input required type="email" name="form[email]" data-fls-form-errtext="Wrong email!" placeholder="Your E-mail"
							class="form__input input">
					</div>
					<div class="form__line">
						<textarea name="form[message]" placeholder="Your message" class="form__textarea input"></textarea>
					</div>
					<button type="submit"
						class="form__button bg-[#081629] cursor-pointer px-6 text-center py-1.5 border-[5px] border-[#081629]/10 rounded-lg font-bold uppercase transition-all duration-300 text-white hover:border-accent max-mobile:w-full">Send</button>
				</form>
			</div>

		</div>
	</section>
</main>