.page {
	&--review {
	}
}

[data-stat-row] {
	border-radius: 5px;
	overflow: hidden;
	div {
		&:first-child {
			background-color: #4867f3;
		}
		&:last-child {
			background-color: #5b118b;
		}
	}
}

section {
	.list {
		li {
			position: relative;
			padding-left: 15px;
			line-height: 1.3;
			&:not(:last-child) {
				margin-bottom: 6px;
			}
			&::before {
				content: "";
				position: absolute;
				top: 8px;
				left: 0;
				width: 5px;
				flex-shrink: 0;
				aspect-ratio: 1;
				border-radius: 50%;
				background-color: #0a2240;
			}
		}
	}
}
