<script type="module" src="@components/pages/videopost/videopost.js"></script>
<link rel="stylesheet" href="@components/pages/videopost/videopost.scss">

<main class="page page--videopost">
	<section class="pc:mb-8">
		<div
			class="container text-white bg-gradient-to-r bg-[linear-gradient(0deg,rgba(28,90,173,0.85)_0%,_rgba(28,90,173,0.55)_100%)] py-8 max-sm:py-6 pc:rounded-[20px]">
			<h1
				class="mb-2 font-bold text-[33px] max-tablet:text-[26px] max-sm:text-[24px] text-center uppercase leading-[1.3]">
				Baseball: A Game of Strategy, Speed and Precision
			</h1>
			<div class="overflow-x-auto scrollbar-thin text-center">
				<ul class="inline-flex gap-x-2.5 text-[18px] font-medium capitalize">
					<li class="flex gap-x-2.5 items-center after:w-2.5 after:h-[2px] after:bg-white after:content-[''] text-nowrap">
						<a class="transition-colors hover:text-accent duration-300" href="index.html">Home</a>
					</li>
					<li class="flex gap-x-2.5 items-center after:w-2.5 after:h-[2px] after:bg-white after:content-[''] text-nowrap">
						<a class="transition-colors hover:text-accent duration-300" href="videos.html">Videos</a>
					</li>
					<li class="text-nowrap">
						<div>Baseball: A Game of Strategy, Speed and Precision</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<article class="pc:mb-8 video-post">
		<!-- Главный блок с изображениями -->
		<div class="container bg-[#fff] py-7.5 tablet:py-9 pc:rounded-[20px] pb-4 tablet:pb-5 pc:py-9">
			<div class="pc:px-6">
				<div data-fls-slider data-slider-wrapper="1023.98,max,videopost" class="relative overflow-hidden rounded-3xl mb-6">
					<div class="div rounded-2xl aspect-[1392/695] min-h-[280px] pc:min-h-[695px] w-full overflow-hidden">
						<a class="relative block text-white items-end h-full" href="#">
							<div
								class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
								<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
									class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
							</div>
							<img src="@img/2dabc061cc3d58f1bb4d6bb3575051a3.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
						</a>
					</div>
					<div
						data-slider-items
						class="pc:absolute pc:top-0 pc:right-0 pc:w-[400px] pc:min-h-full pc:z-[1] bg-[#081629] pc:bg-[#08162980] p-3 pc:flex pc:flex-col gap-3 max-pc:grid max-pc:grid-cols-3">
						<article class="flex rounded-2xl overflow-hidden">
							<a
								class="relative flex text-white items-end aspect-[372/218] w-full min-h-[218px] max-[699.98px]:aspect-[645/300]"
								href="#">
								<div
									class="bg-white rounded-full w-14 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-9 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-3 relative z-[1] w-full">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block leading-[1.4] text-[16px] truncate-row-2 hover:text-accent max-md:text-[16px]">
										Commodo himenaeos ad mauris finibus tempus a vel quisque. Build Stamina for Distance Success integer proin dis
										eu arcu.
									</h3>
								</div>
								<img src="@img/e549c1dfb8ce2d502999db54a39d689a.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
						<article class="flex rounded-2xl overflow-hidden">
							<a
								class="relative flex text-white items-end aspect-[372/218] w-full min-h-[218px] max-[699.98px]:aspect-[645/300]"
								href="#">
								<div
									class="bg-white rounded-full w-14 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-9 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-3 relative z-[1] w-full">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block leading-[1.4] text-[16px] truncate-row-2 hover:text-accent max-md:text-[16px]">
										Commodo himenaeos ad mauris finibus tempus a vel quisque. Build Stamina for Distance Success integer proin dis
										eu arcu.
									</h3>
								</div>
								<img src="@img/e549c1dfb8ce2d502999db54a39d689a.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
						<article class="flex rounded-2xl overflow-hidden">
							<a
								class="relative flex text-white items-end aspect-[372/218] w-full min-h-[218px] max-[699.98px]:aspect-[645/300]"
								href="#">
								<div
									class="bg-white rounded-full w-14 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-9 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-3 relative z-[1] w-full">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block leading-[1.4] text-[16px] truncate-row-2 hover:text-accent max-md:text-[16px]">
										Commodo himenaeos ad mauris finibus tempus a vel quisque. Build Stamina for Distance Success integer proin dis
										eu arcu.
									</h3>
								</div>
								<img src="@img/e549c1dfb8ce2d502999db54a39d689a.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
					</div>
				</div>
				<!-- Текстовый блок -->
				<div class="text-[#0A2240]">
					<h3 class="mb-1.5 font-semibold text-[16px]">
						Dummy text of the printing and typesetting industry. Lorem Ipsume industrys
						standard
					</h3>
					<div>
						<p class="not-last:mb-1.5">
							Nulla facilisi. Praesent ut lectus placerat, ullamcorper erat sit amet,
							semper arcu. Nulla facilisi. Praesent ut lectus placerat, ullamcorper erat
							sit amet, semper arcu. Pellentesque interdum lacus non sem vulputate, a
							finibus lectus sodales. Pellentesque mi purus, hendrerit et magna et,
							maximus volutpat nibh. Nunc nec lectus et lorem eleifend lacinia et
							fermentum arcu. Fusce sed mi auctor tortor efficitur vestibulum non sed
							tortor. Donec at suscipit neque, vitae egestas tortor.
						</p>
						<p class="not-last:mb-1.5">
							Pellentesque interdum lacus non sem vulputate, a finibus lectus sodales.
							Pellentesque mi purus, hendrerit et magna et, maximus volutpat nibh. Nunc
							nec lectus et lorem eleifend lacinia et fermentum arcu. Fusce sed mi auctor
							tortor efficitur vestibulum non sed tortor. Donec at suscipit neque, vitae
							egestas tortor. Nulla facilisi. Praesent ut lectus placerat, ullamcorper
							erat sit amet, semper arcu. Nulla facilisi. Praesent ut lectus placerat,
							ullamcorper erat sit amet, semper arcu. Pellentesque interdum lacus non sem
							vulputate, a finibus lectus sodales. Pellentesque mi purus, hendrerit et
							magna et, maximus volutpat nibh. Nunc nec lectus et lorem eleifend lacinia
							et fermentum arcu. Fusce sed mi auctor tortor efficitur vestibulum non sed
							tortor. Donec at suscipit neque, vitae egestas tortor.
						</p>
					</div>
				</div>
			</div>
		</div>
	</article>
	<section data-fls-slider class="pc:mb-8">
		<div class="bg-white py-7.5 tablet:py-9 pc:rounded-[20px] container pt-4 tablet:pt-5 pc:py-9">
			<h2 class="mb-7 font-bold text-3xl text-center uppercase text-[#0A2240] max-tablet:mb-6">Recent Videos</h2>
			<div class="swiper content-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<article class="flex rounded-2xl overflow-hidden max-lg:col-span-2 lg:col-span-3 max-md:col-span-1">
							<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
								<div
									class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-4 px-5 relative w-full z-[1]">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
										Build Stamina for Distance Success integer proin dis eu arcu. Commodo himenaeos ad mauris finibus tempus a vel
										eu arcu.
									</h3>
								</div>
								<img src="@img/2dabc061cc3d58f1bb4d6bb3575051a3.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="flex rounded-2xl overflow-hidden max-lg:col-span-2 lg:col-span-3 max-md:col-span-1">
							<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
								<div
									class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-4 px-5 relative w-full z-[1]">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
										Build Stamina for Distance Success integer proin dis eu arcu. Commodo himenaeos ad mauris finibus tempus a vel
										eu arcu.
									</h3>
								</div>
								<img src="@img/2dabc061cc3d58f1bb4d6bb3575051a3.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="flex rounded-2xl overflow-hidden max-lg:col-span-2 lg:col-span-3 max-md:col-span-1">
							<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
								<div
									class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-4 px-5 relative w-full z-[1]">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
										Build Stamina for Distance Success integer proin dis eu arcu. Commodo himenaeos ad mauris finibus tempus a vel
										eu arcu.
									</h3>
								</div>
								<img src="@img/2dabc061cc3d58f1bb4d6bb3575051a3.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="flex rounded-2xl overflow-hidden max-lg:col-span-2 lg:col-span-3 max-md:col-span-1">
							<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
								<div
									class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-4 px-5 relative w-full z-[1]">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
										Build Stamina for Distance Success integer proin dis eu arcu. Commodo himenaeos ad mauris finibus tempus a vel
										eu arcu.
									</h3>
								</div>
								<img src="@img/2dabc061cc3d58f1bb4d6bb3575051a3.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="flex rounded-2xl overflow-hidden max-lg:col-span-2 lg:col-span-3 max-md:col-span-1">
							<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
								<div
									class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-4 px-5 relative w-full z-[1]">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
										Build Stamina for Distance Success integer proin dis eu arcu. Commodo himenaeos ad mauris finibus tempus a vel
										eu arcu.
									</h3>
								</div>
								<img src="@img/2dabc061cc3d58f1bb4d6bb3575051a3.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="flex rounded-2xl overflow-hidden max-lg:col-span-2 lg:col-span-3 max-md:col-span-1">
							<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
								<div
									class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-4 px-5 relative w-full z-[1]">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
										Build Stamina for Distance Success integer proin dis eu arcu. Commodo himenaeos ad mauris finibus tempus a vel
										eu arcu.
									</h3>
								</div>
								<img src="@img/2dabc061cc3d58f1bb4d6bb3575051a3.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="flex rounded-2xl overflow-hidden max-lg:col-span-2 lg:col-span-3 max-md:col-span-1">
							<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
								<div
									class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-4 px-5 relative w-full z-[1]">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
										Build Stamina for Distance Success integer proin dis eu arcu. Commodo himenaeos ad mauris finibus tempus a vel
										eu arcu.
									</h3>
								</div>
								<img src="@img/2dabc061cc3d58f1bb4d6bb3575051a3.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="flex rounded-2xl overflow-hidden max-lg:col-span-2 lg:col-span-3 max-md:col-span-1">
							<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
								<div
									class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-4 px-5 relative w-full z-[1]">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
										Build Stamina for Distance Success integer proin dis eu arcu. Commodo himenaeos ad mauris finibus tempus a vel
										eu arcu.
									</h3>
								</div>
								<img src="@img/2dabc061cc3d58f1bb4d6bb3575051a3.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="flex rounded-2xl overflow-hidden max-lg:col-span-2 lg:col-span-3 max-md:col-span-1">
							<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
								<div
									class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-4 px-5 relative w-full z-[1]">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
										Build Stamina for Distance Success integer proin dis eu arcu. Commodo himenaeos ad mauris finibus tempus a vel
										eu arcu.
									</h3>
								</div>
								<img src="@img/2dabc061cc3d58f1bb4d6bb3575051a3.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="flex rounded-2xl overflow-hidden max-lg:col-span-2 lg:col-span-3 max-md:col-span-1">
							<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
								<div
									class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-4 px-5 relative w-full z-[1]">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
										Build Stamina for Distance Success integer proin dis eu arcu. Commodo himenaeos ad mauris finibus tempus a vel
										eu arcu.
									</h3>
								</div>
								<img src="@img/2dabc061cc3d58f1bb4d6bb3575051a3.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="flex rounded-2xl overflow-hidden max-lg:col-span-2 lg:col-span-3 max-md:col-span-1">
							<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
								<div
									class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-4 px-5 relative w-full z-[1]">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
										Build Stamina for Distance Success integer proin dis eu arcu. Commodo himenaeos ad mauris finibus tempus a vel
										eu arcu.
									</h3>
								</div>
								<img src="@img/2dabc061cc3d58f1bb4d6bb3575051a3.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
					</div>
					<div class="swiper-slide">
						<article class="flex rounded-2xl overflow-hidden max-lg:col-span-2 lg:col-span-3 max-md:col-span-1">
							<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
								<div
									class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
									<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
										class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
								</div>
								<div class="bg-[#081629]/50 p-4 px-5 relative w-full z-[1]">
									<h3
										class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
										Build Stamina for Distance Success integer proin dis eu arcu. Commodo himenaeos ad mauris finibus tempus a vel
										eu arcu.
									</h3>
								</div>
								<img src="@img/2dabc061cc3d58f1bb4d6bb3575051a3.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
							</a>
						</article>
					</div>
				</div>
				<!-- Якщо потрібна пагінація -->
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</section>
</main>