<script type="module" src="@components/pages/videos/videos.js"></script>
<link rel="stylesheet" href="@components/pages/videos/videos.scss">

<main class="page page--videos">
	<section class="crumbs pc:mb-8">
		<div
			class="container text-white bg-gradient-to-r bg-[linear-gradient(0deg,rgba(28,90,173,0.85)_0%,_rgba(28,90,173,0.55)_100%)] py-8 max-sm:py-6 pc:rounded-[20px]">
			<h1
				class="mb-2 font-bold text-[33px] max-tablet:text-[26px] max-sm:text-[24px] text-center uppercase leading-[1.3]">
				all videos
			</h1>
			<div class="overflow-x-auto scrollbar-thin text-center">
				<ul class="inline-flex gap-x-2.5 text-[18px] font-medium capitalize">
					<li class="flex gap-x-2.5 items-center after:w-2.5 after:h-[2px] after:bg-white after:content-[''] text-nowrap">
						<a class="transition-colors hover:text-accent duration-300" href="index.html">Home</a>
					</li>
					<li class="text-nowrap">
						<div>all videos</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!--  -->
	<section class="pc:mb-8">
		<div class="bg-white py-7.5 tablet:py-9 pc:rounded-[20px] container">
			<div class="pc:px-6 not-last:mb-6">
				<div class="grid gap-x-6 gap-y-6 lg:grid-cols-6 max-lg:grid-cols-2 max-md:grid-cols-1">
					<article class="flex rounded-2xl overflow-hidden max-lg:col-span-2 lg:col-span-3 max-md:col-span-1">
						<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
							<div
								class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
								<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
									class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
							</div>
							<div class="bg-[#081629]/50 p-4 px-5 relative w-full z-[1]">
								<h3
									class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
									Build Stamina for Distance Success integer proin dis eu arcu. Commodo himenaeos ad mauris finibus tempus a vel
									eu arcu.
								</h3>
							</div>
							<img src="@img/2dabc061cc3d58f1bb4d6bb3575051a3.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
						</a>
					</article>
					<article class="flex rounded-2xl overflow-hidden lg:col-span-3">
						<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
							<div
								class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
								<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
									class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
							</div>
							<div class="bg-[#081629]/50 p-4 px-5 relative z-[1] w-full">
								<h3
									class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
									Commodo himenaeos ad mauris finibus tempus a vel quisque. Build Stamina for Distance Success integer proin dis
									eu arcu.
								</h3>
							</div>
							<img src="@img/e549c1dfb8ce2d502999db54a39d689a.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
						</a>
					</article>
					<article class="flex rounded-2xl overflow-hidden lg:col-span-2">
						<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
							<div
								class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
								<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
									class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
							</div>
							<div class="bg-[#081629]/50 p-4 px-5 relative z-[1] w-full">
								<h3
									class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
									Build Stamina for Distance Success integer proin dis eu arcu
								</h3>
							</div>
							<img src="@img/f3e342ee2c7765db3023c6a99c52e8a3.webp" class="absolute left-0 top-0 w-full h-full object-cover">
						</a>
					</article>
					<article class="flex rounded-2xl overflow-hidden lg:col-span-2">
						<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
							<div
								class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
								<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
									class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
							</div>
							<div class="bg-[#081629]/50 p-4 px-5 relative z-[1] w-full">
								<h3
									class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
									At the plate, Kim is known for his bat-to-ball skills. The Dodgers are high time.
								</h3>
							</div>
							<img src="@img/afe0f266deb3643cc3213bbd9f55f521.jpeg" class="absolute left-0 top-0 w-full h-full object-cover">
						</a>
					</article>
					<article class="flex rounded-2xl overflow-hidden lg:col-span-2">
						<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
							<div
								class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
								<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
									class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
							</div>
							<div class="bg-[#081629]/50 p-4 px-5 relative z-[1] w-full">
								<h3
									class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
									Stamina success commodo himenaeos ad mauris finibus tempus a vel quisque.
								</h3>
							</div>
							<img src="@img/e793f203385c88acb0d2ed79c0fc8fe4.webp" class="absolute left-0 top-0 w-full h-full object-cover">
						</a>
					</article>
					<article class="flex rounded-2xl overflow-hidden lg:col-span-2">
						<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
							<div
								class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
								<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
									class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
							</div>
							<div class="bg-[#081629]/50 p-4 px-5 relative z-[1] w-full">
								<h3
									class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
									Stamina success commodo himenaeos ad mauris finibus tempus a vel quisque.
								</h3>
							</div>
							<img src="@img/e793f203385c88acb0d2ed79c0fc8fe4.webp" class="absolute left-0 top-0 w-full h-full object-cover">
						</a>
					</article>
					<article class="flex rounded-2xl overflow-hidden lg:col-span-2">
						<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
							<div
								class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
								<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
									class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
							</div>
							<div class="bg-[#081629]/50 p-4 px-5 relative z-[1] w-full">
								<h3
									class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
									Stamina success commodo himenaeos ad mauris finibus tempus a vel quisque.
								</h3>
							</div>
							<img src="@img/e793f203385c88acb0d2ed79c0fc8fe4.webp" class="absolute left-0 top-0 w-full h-full object-cover">
						</a>
					</article>
					<article class="flex rounded-2xl overflow-hidden lg:col-span-2">
						<a class="relative flex text-white items-end aspect-[684/356] w-full min-h-[280px]" href="#">
							<div
								class="bg-white rounded-full w-16 aspect-[1] flex justify-center absolute top-1/2 left-1/2 z-[2] -translate-1/2 items-center hover:bg-accent duration-300 will-change-transform transition-all hover:scale-[1.05] border-b border-white/30 max-md:w-14">
								<img src="@img/bef000fe0cc5126128ecb3db235c3371.png"
									class="w-10 aspect-[1] object-contain translate-x-[2px] max-md:w-9">
							</div>
							<div class="bg-[#081629]/50 p-4 px-5 relative z-[1] w-full">
								<h3
									class="transition-color: #fff; duration-300 font-bold text-lg inline-block truncate-row-2 hover:text-accent max-md:text-[16px]">
									Stamina success commodo himenaeos ad mauris finibus tempus a vel quisque.
								</h3>
							</div>
							<img src="@img/e793f203385c88acb0d2ed79c0fc8fe4.webp" class="absolute left-0 top-0 w-full h-full object-cover">
						</a>
					</article>
				</div>
			</div>
			<div class="flex justify-center">
				<a
					class="bg-[#081629] px-6 py-1.5 border-[5px] border-white/50 hover:border-accent rounded-xl max-mobile:w-full font-bold text-white text-lg no-underline uppercase transition-colors duration-300 text-center"
					href="#">
					load more
				</a>
			</div>
		</div>
	</section>
</main>