<div class="menu">
	<nav class="max-burger:fixed max-burger:w-full max-burger:top-0 max-burger:-left-full
	max-burger:px-4 max-burger:py-7 max-burger:pt-[calc(var(--header-height)+10px)] max-burger:overflow-y-auto max-burger:h-svh max-burger:bg-[#081629] max-burger:after:content-[''] max-burger:after:w-full max-burger:after:h-(--header-height) max-burger:after:fixed max-burger:after:bg-[#081629] max-burger:after:top-0 transition-all max-burger:after:left-0 [html[data-fls-menu-open]_&]:left-0">
		<ul class="burger:flex burger:flex-wrap burger:justify-end burger:gap-x-5.5 burger:gap-y-1.5">
			<each loop='item in [
					{"href": "index.html","ancor": "Home"},
					{"href": "#","ancor": "news"},
					{"href": "#","ancor": "videos"},
					{"href": "#","ancor": "standings"},
					{"href": "#","ancor": "fixtures"},
					{"href": "#","ancor": "results"},
					{"href": "#","ancor": "review"},
					{"href": "#","ancor": "team"},
					{"href": "#","ancor": "player"},
					{"href": "#","ancor": "post"},
					{"href": "#","ancor": "video post"},
					{"href": "#","ancor": "contact us"},
				]'>
				<li class="max-burger:not-last:mb-3">
					<a href="[[item.href]]"
						class="font-bold text-[18px] text-white burger:text-[15px] hover:text-accent hover:text-orange-primary no-underline uppercase transition-all duration-300">[[item.ancor]]</a>
				</li>
			</each>
		</ul>
	</nav>
	<button type="button" data-fls-menu class="icon-menu"><span></span></button>
</div>
