<footer data-fls-footer>
	<div
		class="container flex max-md:gap-y-3.5 items-center md:items-start md:justify-center gap-x-13 py-[30px] max-md:flex-col max-md:pb-[20px]">
		<a class="transition-all hover:scale-[1.03] w-[80px] h-[80px] will-change-transform shrink-0" href="#">
			<img src="@img/85d5496ce338b5bf29c10413c57ee365.png" class="w-full h-full object-contain">
		</a>
		<div data-fls-spollers="767.98" class="md:grid md:grid-cols-3 text-white md:basis-[800px] gap-x-7">
			<details class="max-md:not-last:mb-2">
				<summary class="text-lg uppercase font-semibold max-md:text-[20px]">COMMERCIAL</summary>
				<div>
					<ul class="flex flex-col gap-y-[8px] list-none pt-2">
						<li>
							<a href="#" class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">
								Sponsors and Partners
							</a>
						</li>
						<li>
							<a href="#" class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">
								Official Stores
							</a>
						</li>
						<li>
							<a href="#" class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">
								Brand Licensing
							</a>
						</li>
						<li>
							<a href="#" class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">
								Cruzeiro Schools
							</a>
						</li>
					</ul>
				</div>
			</details>
			<details class="max-md:not-last:mb-2">
				<summary class="text-lg uppercase font-semibold max-md:text-[20px]">OFFICIAL CHANNELS</summary>
				<div>
					<ul class="flex flex-col gap-y-[8px] list-none pt-2">
						<li>
							<a href="#"
								class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">Instagram</a>
						</li>
						<li>
							<a href="#" class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">Facebook</a>
						</li>
						<li>
							<a href="#" class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">YouTube</a>
						</li>
						<li>
							<a href="#" class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">Tik Tok</a>
						</li>
						<li>
							<a href="#" class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">Flickr</a>
						</li>
					</ul>
				</div>
			</details>
			<details class="max-md:not-last:mb-2">
				<summary class="text-lg uppercase font-semibold max-md:text-[20px]">TRANSPARENCY</summary>
				<div>
					<ul class="flex flex-col gap-y-[8px] list-none pt-2">
						<li>
							<a href="#" class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">
								Articles of Association
							</a>
						</li>
						<li>
							<a href="#" class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">Code of
								Ethics</a>
						</li>
						<li>
							<a href="#" class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">Minutes</a>
						</li>
						<li>
							<a href="#"
								class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">Financial</a>
						</li>
						<li>
							<a href="privacy-policy.html"
								class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">Privacy
								Policy</a>
						</li>
						<li>
							<a href="#" class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">
								Fan Code of Conduct
							</a>
						</li>
						<li>
							<a href="#" class="hover:text-accent duration-300 text-base transition-all font-semibold text-white">
								Salary Transparency
							</a>
						</li>
					</ul>
				</div>
			</details>
		</div>
	</div>
	<div class="text-sm text-center font-semibold text-white pb-6">
		© 2025 Cruzeiro SAF. All rights reserved.
	</div>
</footer>